<h1>Veuillez confirmer votre adresse email.</h1>

<p>
    Veuillez cliquer sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

